.register {
    height: 100%;
    margin: 20px 0;
}

@media screen and (max-width: 600px) {
    .register {
        margin: 0;
    }

    .container-register{
        width: 100%;
        box-shadow: none;
    }
}