
.header {

    border-width: 0px;  /* evitar_problemas */
    background-color: #3E454D; /* background-menubar */
}

.header .p-menuitem-text {

    color: #EEEEEE !important;   /* color-text */
    font-weight: 350;
}

.header .p-menuitem:hover {

    .p-menuitem-text { color: #83F080 !important; }  /* color-text-hover */
    .p-menuitem-content:hover { background: #3E454D !important; } /* evitar_problemas */
}

.p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {

    background: #3E454D !important;  /* evitar_problemas */
}


@media (max-width: 960px) {

    .header .p-menubar-root-list { background-color: #4D545E !important; }  /* background-submenubar */
    .header .p-menubar-root-list .p-menuitem-link { color: #EEEEEE !important; }  /* color-text */
    .header .p-menubar-root-list .p-menuitem-link:hover { color: #83F080 !important ; }  /* color-text-hover */

    .logo img{ margin-right: 20px; } /* margin-icon */
    .p-menubar .p-menubar-button{ color: #EEEEEE !important;} /* color-icon */
    .header .p-menubar-button { background-color: #3E454D !important; } /* background-icon */

    .header .p-menubar-button .p-menubar-button-icon { color: #EEEEEE !important; } /* ??? */

    .header .p-menuitem:hover { .p-menuitem-content:hover { background: #4D545E !important; }} /* evitar_problemas */
    .p-menubar .p-menubar-button:focus { outline: 0 none; outline-offset: 0; box-shadow: 0 0 0 0; } /* evitar_problemas */
    .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content { background: #4d545e !important; } /* evitar_problemas */
}