
.header{
    border-width: 0px;
    background-color: #3E454D;
}

.header .p-menuitem-text {
    color: #EEE !important;
    font-weight: 350;
}

.header .p-menuitem:hover{

    .p-menuitem-text { color: #83f080 !important; }
    .p-menuitem-content:hover { background: #3E454D !important; }
}

.header .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {

    background: #3E454D !important;
}


@media (max-width: 960px) {
    /* Estilo para o menu dropdown */
    .header .p-menubar-root-list {
        background-color: #4d545e !important;
    }

    /* Estilo para os itens do menu dropdown */
    .header .p-menubar-root-list .p-menuitem-link {
        color: #EEE !important;
    }

    /* Estilo para o item do menu dropdown ao passar o mouse */
    .header .p-menubar-root-list .p-menuitem-link:hover {
        color: #83f080 !important;
    }

    /* Para o ícone do menu deslizante */
    .header .p-menubar-button {
        background-color: #3E454D !important;
    }

    /* Para o ícone de hambúrguer */
    .header .p-menubar-button .p-menubar-button-icon {
        color: #EEE !important;
    }

    .logo img{
        margin-right: 20px;
    }

    .p-menubar .p-menubar-button{

        color: #EEE !important;
    }

    .p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {

        background: #4d545e !important;
    }

    .p-menubar .p-menubar-button:focus {

        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0;
    }
}