#forgot-image {
    width: 440px;
}

.primary-text {
    font-size: 20px;
}

.timer-input{
    font-size: 20px;
}

.email-input{
    color: rgb(62, 187, 83);
}

.p-inputotp {
    pointer-events: auto !important;
}

.back-btn{
    color: rgb(62, 187, 83);;
}