.employeelist-container {
    display: flex;
    height: auto;
    width: auto;
    background-color: #F5F5F5;
}

.cover-container{

    position: absolute;
    width: 100%;
    height: calc(100% - 62px);
    background-color: #F5F5F5;

    z-index: -1;
}

.card-container {
    position: relative;
    border-radius: 20px;
    width: 100%;
    margin: 7px auto;
    border: solid 1px #D1D1D1;
    box-shadow: 0 0 0 0;
}

.general-card {
    padding: 45px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.employee-item {
    display: flex;
    align-items: center;
}

.employee-avatar {
    margin-right: 15px;
}

.employee-details {
    display: flex;
    flex-direction: column;
}

.employee-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.employee-siape, .employee-cargo {
    font-size: 1rem;
    color: #555;
}

.p-card-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.icon_role_area{
    position: absolute;
    top: 0px;
    right: 10px; /*usuário com apenas 1 role, right: 30px*/
    padding: 0 20px;
}


/*
.icon_role{ padding-right: 20px;}
*/

.edit-button {
    position: absolute;
    bottom: 15px;
    right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    color: #555555;
}

.edit-button:hover {
    color: #818181;
}

.expand-button {
    position: absolute;
    bottom: 15px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    color: #555555;
}

.expand-button:hover {
    color: #818181;
}

.extra-info {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}

.filter-container {
    width: 325px;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 0;
    top: 60px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1000;
    transition: width 0.3s ease;
}

/* adequação footer ao filtro
.footer { width: calc(100% - 325px);}
*/

.filter-container h3 {
    margin-bottom: 10px;
}

.filter-container input, .filter-container .filter-dropdown {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.employee-list {
    margin: 50px 0;
    margin-right: 325px;
    padding: 20px;
    overflow-y: auto;
    height: auto;
    transition: margin-right 0.3s ease;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filter-input {
    margin-bottom: 20px;
}


@media (max-width: 600px) {
    .filter-container {
        width: 100%;
        position: fixed;
        top: 4%;
        right: 0;
        bottom: 0;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        height: 20%;
    }

    .employee-list {
        margin: 0;
        padding: 10px;
        margin-top: 40%;
    }
}
