.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.card {
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}

.p-card-body {
    padding: 10px;
}

.p-card-content {}